* {
  box-sizing: border-box; }

body {
  font-family: Avenir, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

.heading {
  background-color: white;
}

a {
  color: #222;
  text-decoration: none;
}

a:hover {
  color: #FFF;
  text-decoration: none;
}

.menu {
  background-color: #E0E0E0;
}

.menu:hover {
  background-color: #ff471a;
}

.box {
  background-color: #E0E0E0;
}

.box a.read-more {
  text-decoration: underline;
}

.color:hover {
  background-color: #ff471a;
}

.footer {
  background-color: #999;
  color: #fff;
  font-style: italic;
}
